<script type="text/javascript">
$(document).ready(function(){
    var raw_markers   = <%=raw @hash.to_json %>;
    var gmaps_markers;

    function createSidebarLi(shop_json) {
      return ("<li><a>" + "<h4>"+ shop_json.titre + "</h4>" + shop_json.address + "<\/a></li>");
    };

    function bindLiToMarker($li, marker){
      $li.click(function(){
        marker.panTo(); //to pan to the marker
        google.maps.event.trigger(marker.getServiceObject(), "click"); // to open infowindow
      });
    };

    function createSidebar(){
      for (var i=0;i<raw_markers.length;i++){
        var $li = $( createSidebarLi(raw_markers[i]) );
        $li.appendTo($('#markers_list'));
        bindLiToMarker($li, gmaps_markers[i]);
      }
    };

    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      gmaps_markers = handler.addMarkers(raw_markers);
      handler.bounds.extendWith(gmaps_markers);
      handler.fitMapToBounds();
      createSidebar();
    });
  });
</script>