<% if params[:search].present? %>

  <div class="container clearfix"> 
    <div class="cart-elements">
      <div class="row">
        <div id="map-container" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main pull-right">
          <div id="map">
            <%= render 'map' %>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 side pull-left">
          <div id='sidebar_container'>
            <div class="well">
              <h3>Near You:</h3>
              <ol id="markers_list">
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% else %>

  <div class="container clearfix"> 
    <div class="cart-elements">
      <div class="row">
        <div id="map-container" class="col-lg-8 col-md-8 col-sm-12 col-xs-12 main pull-right">
          <div id="map">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2iRcOuoMsB0" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 side pull-left">
          <div id='sidebar_container'>
            <div class="well">
              <h3>Near You:</h3>
              <ol>
                <% @carts.each do |cart| %>
                  <li><%= cart.name %><br><%= cart.address %> </li><br>
                <% end %>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>