
<% if @posts.present? %>
  <%= render @posts %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
    <% @cart.each do |cart| %>
      <h1><%= cart.name %></h1>
      <p><%= cart.address %></p>
    <% end %>
<% end %>